* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ababab;
}
header {
    background-color: #eff2f9;
    background-image: linear-gradient(#eff2f9, #b6bccc);
    width: 100%;
}
header a {
    font-size: 13px;
    padding: 2px 4px 2px 8px;
}
.header2 {
    width: 100%;
    height: 27px;
    background-color: #f0f0f0;
}
#cons{
    display: none;
    width: 400px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
.cons{
    /*
    width: 24px;
    height: 24px;
    */
    top: 20px;
}
.hidden{
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
}
.hidd{
    display: none;
}
#cons input{
    position: absolute;
}
.l{
    left: 75px;
}
.cod{
    top: 41px;
    width: 39px;
}
.cnome{
    width: 363px;
    top: 41px;
    left: 124px;
}
#nome{
    width: 413px;
    top: 73px;
}
#rua{
    top: 105px;
}
#bairro{
    top: 137px;
}
#cidade{
    top: 169px;
}
.cep{
    width: 77px;
    left: 411px;
    top: 137px;
}
.estado{
    width: 46px;
    top: 169px;
    left: 411px;
}
.w102{
    width: 102px;
}
#cpf{
    top: 201px;
}
#ci{
    top: 201px;
}
#cel{
    top: 233px;
}
#pis{
    top: 265px;
}
#cbo{
    top: 297px;
    width: 179px;
}
#processo, #empenho{
    top: 329px;
}
#saldo, #inss{
    top: 361px;
}
#iss{
    top: 393px;
}
.lot{
    width: 120px;
    top: 297px;
    left: 371px;
}
.info1{
    width: 415px;
}
.info2{
    width: 278px;
}
.info3{
    width: 102px;
    left: 291px;
}
.i{
    left: 291px;
    width: 94px;
}
/* BOTOES DO FIM
 */

.fin{
    top: 426px;
    width: 51px;
}
.grav{
    left: 260px;
}
.excl{
    left: 320px;
}
.limp{
    left: 380px;
}
.conf {
    left: 100px;
    width: 70px;
    box-shadow: 1px 1px 0px black;
}
div#Relatorio {
    display: block;
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div#Relatorio h1{
    list-style: lower-greek;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(#909cbd, white);
}
p.pCampo {
    font-weight: bolder;
    font-size: 28px;
}
.radioDados {
    padding: 5px;
    background-image: linear-gradient(#a2b3d8, white);
    margin: 10px 0 10px 12px;
}
.radioFiltro {
    padding: 5px;
    background-image: linear-gradient(#a2b3d8, white);
    margin: 10px 0 10px 12px;
}
input.cond {
    padding: 5px;
    margin: 10px;
    font-size: 17px;
}
input.gerarRel {
    position: absolute;
    background-color: #1e4096;
    padding: 25px;
    font-size: 30px;
    margin: 43px 34px;
    color: white;
    font-weight: bold;
}
img.load {
    width: 281px;
    float: right;
}
img.close {
    position: absolute;
    right: 10px;
    top: 13px;
}